.insightBundleRenderer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: #f9fbfe;

  .title {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
  }

  .allExploredMessage {
    background-color: #eff4f9;
    border-radius: 1.25rem;
    padding: 0.5rem 1.125rem;
  }

  .questionChipsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-bottom: 2rem;
  }
}
