**/*
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!LICENSE.txt
!README.md
!SECURITY.md
!build/
!build/features.json
!build/features/
!build/features/featureGateProvider.d.ts
!build/index.js
!build/index.js.map
!build/sessionStore/
!build/sessionStore/sessionStore.d.ts
!build/telemetry/
!build/telemetry/telemetryProvider.d.ts
!build/telemetry/tracing.js
!build/telemetry/tracing.js.map
!build/templates/
!build/templates/data-app-template.zip
!build/web/
!build/web/apps/
!build/web/apps/dist/
!build/web/apps/dist/hitl-confirm.html
!build/web/apps/dist/mcp-app.html
