TRANSPORT=stdio
SERVER=https://my-tableau-server.com
SITE_NAME=
PAT_NAME=
PAT_VALUE=
DATASOURCE_CREDENTIALS=
DEFAULT_LOG_LEVEL=debug
INCLUDE_TOOLS=
EXCLUDE_TOOLS=
MAX_RESULT_LIMIT=
DISABLE_QUERY_DATASOURCE_FILTER_VALIDATION=

# Additional environment variables for Explore in Tableau
IA_API_KEY=
SALESFORCE_REGION=us-east-1
